{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags staticfiles %}

{% block main %}
<div style="margin-top: 70px;">
<h1 style="font-family: 'Denigan'; font-weight: normal; color: pink; font-size: 4em; text-align: center; margin-bottom: 10px;">Contact</h1>

</div>
{% endblock %}